.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 50px;
}

.App {
	background-image: url('../assets/futureBack.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 10px;
	padding-bottom:400px;
	min-height: 760px;
}

/* center single dimension elements */
.mat {
	box-shadow: 1px 2px 2px #cccccc;
}

.paper {
	background-image: url('../assets/watercolor-paper-2.jpg');
	background-repeat: no-repeat;
	opacity: 89%
}
/* engraving effect */
.engr { 
	color:#bbbbbb;
  text-shadow: 
    0px 1px 0px rgba(255,255,255,.1), 
    0px -1px 0.5px rgba(0,0,0,.5);
}

.ctr {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .95;
}

.button {
	font-weight: bold;
	height: 40px;
	width: 80px;
	border: 1px solid grey;
	border-radius: 7px;
}

.box {
	color: grey;
	background-color: whitesmoke;
	border: 1px solid grey;
	border-radius: 2px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
