.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 50px;
}

.App {

	background-image: url('../assets/futureBack.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/*backgroundAttachment: fixed;*/
	/*min-height: 100%;*/
	/*paddingBottom:400;*/
	min-height: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
