.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 50px;
}

.App {
	background-image: url('../assets/futureBack.png');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 10px;
	padding-bottom:400px;
	min-height: 760px;
}

.button {
	border: 2px solid grey;
	border-radius: 5px;
	font-weight: bold;
	height: 30px;
	width: 80px;
}

.material {
	box-shadow: 2px 5px 5px lightgrey;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	z-index: 1px;

	color: grey;
	background-color: whitesmoke;
	border: 3px solid grey;
	border-radius: 5px;
}

.callout {
	background-color: white;
	height: 70px;
	width: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
