.App-logo {
  animation: App-logo-spin infinite 7s linear;
  color: lightgrey;
}

.App {
	background-image: url('../assets/watercolor-paper-2.jpg');
	background-position: center;
	background-size: cover;
	padding: 10px;
	padding-bottom:400px;
	min-height: 760px;
	/*background-image: url('../assets/futureBack.png');*/
	/*background-attachment: fixed;*/
}

/* center single dimension elements */
.mat {
	box-shadow: 2px 2px 2px #bbbbbb;
}

.paper {
	background-image: url('../assets/watercolor-paper-2.jpg');
	background-repeat: no-repeat;
}

/* engraving effect */
.engr { 
  text-shadow: 
    0px 1px 0px rgba(255,255,255,.1), 
    0px -1px 0.5px rgba(0,0,0,.7);
}

.engrBox { 
	border: 2px solid #bbbbbb;
	color:#bbbbbb;
  box-shadow: 
    0px 1px 0px rgba(255,255,255,.1), 
    0px -1px 0.5px rgba(0,0,0,.7);
}

.ctr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.under {
	border-bottom: 1px solid grey;
	padding-bottom: 15px;
}

.btn {
	font-weight: bold;
	height: 40px;
	width: 80px;
	border: 1px solid grey;
	border-radius: 2px;
}

.boxClr {
	color: grey;
	background-color: transparent;
	border-radius: 2px;
}

.box {
	color: grey;
	background-color: whitesmoke;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
