/* A responsize navbar */
#NavGrid {
	display: grid;
	grid-template-areas: "logo welcome ... home todos login" ;
}


#logo_link {
		grid-area: logo;
		font-size: 0.5em;
	}

	#welcome_link {
		grid-area: welcome;
	background: yellow;

	}

	#home_link {
		grid-area: home;
		color: lime;
	}

	#todos_link {
		grid-area: todos;
	}

	#login_link {
		grid-area: login;
	}

	#logout_link {
		grid-area: login;
		color: lime; 
	}


@media screen and (min-width: 650px) { 

	#logo_link {
		grid-area: logo;
		font-size: 0.5em;
	}

	#welcome_link {
		grid-area: welcome;
	background: lime;

	}

	#home_link {
		grid-area: home;
		color: lime;
	}

	#todos_link {
		grid-area: todos;
	}

	#login_link {
		grid-area: login;
	}

	#logout_link {
		grid-area: login;
		color: lime; 
	}
}


